/* You can add global styles to this file, and also import other style files */
.card{
  width:20vw;
  margin: 0 50px 50px 0;
}

.custom-modal{
  background: #22222250;
  height: 100vh;
}

.inner-modal{
  background: #000000;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 10vh;
  height: 80vh;
}

.custom-modal img{
  width: 80%;
  margin: 0 10%;
}
